@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --primary-color: #212331;
  --secondary-color: #8d98ab;
  --btn-color: #3c4a86;
  --font-main: #ffffff;
  --font-secondary: #636363;
}
