@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --primary-color: #212331;
  --secondary-color: #8d98ab;
  --btn-color: #3c4a86;
  --font-main: #ffffff;
  --font-secondary: #636363;
  color: #ffffff;
}

/* tailwind doesnt provide text shadow so im declaring it here */
.main-shadow {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}
